@font-face {
  font-family: "dominium-icons";
  src: url("../fonts/dominium.eot?qc249v");
  src: url("../fonts/dominium.eot?qc249v#iefix") format("embedded-opentype"),
    url("../fonts/dominium.ttf?qc249v") format("truetype"),
    url("../fonts/dominium.woff?qc249v") format("woff"),
    url("../fonts/dominium.svg?qc249v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "dominium-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e905";
}
.icon-menu1:before {
  content: "\e904";
}
.icon-alternate_email:before {
  content: "\e903";
}
.icon-stay_current_portrait:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-tiktok:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
